.mainContainer {
  background-color: #57BEAD;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 44px;
  display: flex;
  justify-content: center;
}

.titleLocation {
  font-size: 44px;

  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  width: 70%;
  text-align: center;
}

.titleLocation:focus {
  outline: none;
}

.title:hover{
  cursor: pointer;
}